{
    "parser": "@typescript-eslint/parser",
    "rules": {
        "@next/next/no-html-link-for-pages": ["error", "./client"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "next/core-web-vitals",
        "next"
    ]
}
