//Import variables.
@import '_config.scss';
@import '_utilities.scss';
@import '_form.scss';

* {
  //Include padding and border in an element's total width and height.
  box-sizing: border-box;

  //Reset default HTML styles.
  margin: 0;
  padding: 0;

  //Override outlines.
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  //Remove underline.
  text-decoration: none;
  color: $primary-color;
}

ul {
  //Remove bullet points.
  list-style: none;
}

img {
  width: 100%;
}

//Navigation bar styles.
//It has two flex items (header and list).
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  //Separate two flex items.
  justify-content: space-between;

  //Top-bottom, right-left.
  padding: 0.7rem 2rem;

  //Keep at top of screen & on top of all content.
  position: fixed;
  z-index: 1;
  top: 0;

  ul {
    //You got me moving side to side...
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    //Anchor tags within navbar that are hovered...
    //Same as a:hover.
    &:hover {
      color: $primary-color;
    }
  }
}

//Landing (home page).
.landing {
  //Positioned relative to the normal position.
  position: relative;

  background: url('https://picsum.photos/2000/1333') no-repeat center
    center/cover;

  //Full screen.
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .landing-photo-details {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

//Profiles page w/CSS Grid.
.profile {
  display: grid;

  //Divides columns by fractions.
  grid-template-columns: 2fr 4fr 2fr;

  align-items: center;

  //Puts a gap between grid items.
  grid-gap: 2rem;

  padding: 1.3rem;
  line-height: 2;
  margin-bottom: 1.3rem;
}

//Single profile page w/CSS Grid.
.profile-grid {
  display: grid;

  //https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
  grid-template-areas:
    'top top' 'about about' 'experience education'
    'github github';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;

    //Everything will be centered.
    align-items: center;
    justify-content: center;
    text-align: center;

    //Size of profile image.
    img {
      width: 20rem;
    }

    .icons a {
      color: #fff;
      margin: 0 0.3rem;

      &:hover {
        color: $dark-color;
      }
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .profile-experience {
    grid-area: experience;
  }

  .profile-education {
    grid-area: education;
  }

  .profile-experience,
  .profile-education {
    //Selects immediate div children.
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dotted;

      //Gets rid of border for the last div child.
      &:last-child {
        border: none;
      }
    }

    p {
      //Top and bottom.
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;

    .repo {
      display: flex;

      & > div:first-child {
        flex: 7;
        flex-basis: 70%;
      }

      //List of badges for repo.
      & > div:last-child {
        flex: 2;
        flex-basis: 20%;
      }
    }
  }
}

//Posts.
.post-form-header {
  padding: 0.5rem;
}

//An individual post.
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;

  & > div:first-child {
    text-align: center;
  }

  img {
    width: 10rem;
  }
}

@import '_mobile.scss';
